.education-info{
  padding: 25px 0px 0px 40px;
}
#education h1{
  justify-self: center;
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
   #education h1 {
      font-size: 35px;
      margin-bottom: 30px;
  }
  .education-info {
    padding: 20px 0px 0px 30px;
}

}

@media (max-width: 480px) {
  #education{
    width: 350px;
    justify-self: center;
  }
   #education h1 {
      font-size: 30px;
      margin-bottom: 20px;
  }
  .education-info {
    padding: 15px 0px 0px 20px;
}
}